services:
  mongo:
    image: mongo:7
    container_name: local-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    container_name: local-redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: local-api
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      PORT: 3000
      MONGO_URI: mongodb://mongo:27017/appdb
      REDIS_URL: redis://redis:6379
    depends_on:
      - mongo
      - redis

volumes:
  mongo_data:
